* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #674d4d;
  display: flex;
}

.game-container {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: 23%;
  height: 23%;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.memory-card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.memory-card img {
  border-radius: 20%;
}

.front,
.back {
  background-color: tomato;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

#score-board {
  margin-right: 5%;
  margin-top: 5%;
  padding: 5px;
  background: #ffffff;
  height: 10%;
  border-radius: 10%;
}
